.App {
    text-align: center;
    font-size: 36px;
    color: #ed145b
}

.boxGreen {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}

.boxRed {
    background-color: red;
    width: 100px;
    height: 100px;
}