.App {
    text-align: center;
    font-size: 36px;
    color: #ed145b
}

.lightYellow{
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.lightRed {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.lightGreen {
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}